@import "_mixins";
.content {
  @include contentImage(url("../assets/images/photo1.jpg"));
  background-color: rgb(237, 237, 237);
  @include contentImage(url("../assets/images/photo1.jpg"));
  .content__header {
    text-align: center;
    color: rgb(72, 72, 72);
    max-width: 1200px;
    margin: 0 auto;

    .content__title {
      font-size: 55px;
      padding-top: 20px;
    }
    .content__title--text {
      font-size: 25px;
      margin: 0 auto;
      width: 450px;
      line-height: 40px;
    }
    .content__title--button {
      margin-top: 40px;
      width: 300px;
      height: 100px;
      background-color: #e1bf37;
      border: 0px;
      border-radius: 10px;
      font-size: 20px;
      color: rgb(72, 72, 72);
      font-family: "Hanken Grotesk", sans-serif;
      font-weight: 600;
      transition: transform 0.6s;
      cursor: pointer;
      &:hover {
        transform: scale(1.06);
        -webkit-box-shadow: 10px 10px 50px 1px rgba(0, 0, 0, 0.37);
        -moz-box-shadow: 10px 10px 50px 1px rgba(0, 0, 0, 0.37);
        box-shadow: 10px 10px 50px 1px rgba(0, 0, 0, 0.37);
      }
    }
    .show__more--block {
      margin-top: 20px;
      height: 30px;
      padding-top: 10px;
      background: none;
      .show__more {
        height: 30px;
        border: none;
        font-size: 18px;
        color: rgb(72, 72, 72);
        font-family: "Hanken Grotesk", sans-serif;
        font-weight: 600;
        background: none;
        cursor: pointer;
        transition: transform 0.6s;
        &:hover {
          font-size: 20px;
          color: rgb(154, 154, 154);
          transform: scale(1.06);
        }
      }
    }
  }
}

.image {
  @include contentImage(url("../assets/images/photo1.jpg"));
  margin-top: 20px;
}

.content__block {
  @include contentBlock;
  .block__one--content {
    @include flexContentBlock;
    .block__one--title {
      @include contentBlockTitle;
    }
    .block__one--text {
      @include contentBlockText;
    }
  }
  .block__two--content {
    color: rgb(72, 72, 72);
    text-align: center;
    height: 400px;
    background-image: url("../assets/images/photo2.jpg");
    background-position: top;
    background-size: cover;
    padding-top: 50px;
    .section__title {
      color: rgb(72, 72, 72);
      text-align: center;
    }
    .operations {
      margin: 0 auto;
    }
  }
}

.operations__content {
  width: 500px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid black;
}

.operations {
  margin-bottom: 30px;
  .operations__tab {
    margin-right: 15px;
    margin-left: 15px;
    transform: translateY(20%);
    width: 130px;
    height: 40px;
    background-color: #ffd943;
    border: 0px;
    border-radius: 10px;
    font-size: 15px;
    color: rgb(72, 72, 72);
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 600;
    transition: transform 0.6s;
    cursor: pointer;
    &:hover {
      //font-size: 15px;
      transform: scale(1.06);
      -webkit-box-shadow: 10px 10px 50px 1px rgba(0, 0, 0, 0.37);
      -moz-box-shadow: 10px 10px 50px 1px rgba(0, 0, 0, 0.37);
      box-shadow: 10px 10px 50px 1px rgba(0, 0, 0, 0.37);
    }
  }
  .operations__tab--active {
    background-color: #e1bf37;

    color: rgb(72, 72, 72);
    transform: translateY(0%);
  }
  .operations__content {
    border-radius: 10px;
    border: none;
    display: none;

    font-size: 17px;
    background: rgb(237, 237, 237);

    P {
      font-size: 17px;
    }
  }
  .operations__content--active {
    display: block;
    font-size: 12px;
    padding: 30px 30px;
  }
  .operations__header {
    padding-bottom: 20px;
    font-size: 14px;
  }
}
